
<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>codedamn | Let's program future</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600|Ubuntu:300,500" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/style.css" />
	<link rel="shortcut icon" type="image/png" href="/assets/images/ico.png">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<meta name="description" content="codedamn is a family of programmers which learns and grows together. Join now and be the part of the most awesome family on internet!" />
	<link rel="canonical" href='https://codedamn.com/' />

	<!-- facebook graph og tags -->
	<meta property="og:title" content="codedamn: THE family of programmers" />
	<meta property="og:url" content="//codedamn.com/" />
	<meta property="og:site_name" content="codedamn | Let's program future" />
	<meta property="og:description" content="codedamn is a family of programmers which learns and grows together. Join now and be the part of the most awesome family on internet!" />
	
	<!-- twitter tags -->
	<meta name="twitter:card" content="summary"/>
	<meta name="twitter:description" content="codedamn is a family of programmers which learns and grows together. Join now and be the part of the most awesome family on internet!" />
	<meta name="twitter:title" content="codedamn: THE family of programmers" />
</head>
<body>

	<!-- intro -->
	<div id="welcome">
		<div id="background"></div>
		<div id="welcomeAgain">
			<div id="centerText1"><h2>Browse. Learn. Build.</h2>
			<h3>Welcome to THE <span style="color:rgb(40, 189, 40)">family</span> of programmers!</h3></div>
			<div id="languageGrp" class="clear">
				<div><img src="/assets/images/svg/html5.svg"></div>
				<div><img src="/assets/images/svg/css3.svg"></div>
				<div><img src="/assets/images/svg/javascript.svg"></div>
				<div><img src="/assets/images/svg/angular.svg"></div>
				<div><img src="/assets/images/svg/node.svg"></div>
				<div><img src="/assets/images/svg/python.svg"></div>
				<div><img src="https://www.shareicon.net/data/512x512/2016/08/01/640324_logo_512x512.png"></div>
				<div><img src="https://seeklogo.com/images/G/go-logo-046185B647-seeklogo.com.png"></div>
				<div><img src="https://seeklogo.com/images/P/php-logo-ADE513E748-seeklogo.com.png"></div>
				<div><img src="https://raw.githubusercontent.com/odb/official-bash-logo/master/assets/Logos/Icons/PNG/512x512.png"></div>
				<div><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Swift_logo.svg/2000px-Swift_logo.svg.png"></div>
				<div><img src="https://qph.fs.quoracdn.net/main-qimg-48b7a3d8958565e7aa3ad4dbf2312770"></div>
				<div><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Ruby_logo.svg/2000px-Ruby_logo.svg.png"></div>
				<div><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Sass_Logo_Color.svg/800px-Sass_Logo_Color.svg.png"></div>
				<div><img src="https://seeklogo.com/images/W/webpack-logo-9E66EE203A-seeklogo.com.png"></div>
				<div><img src="https://seeklogo.com/images/M/MySQL-logo-F6FF285A58-seeklogo.com.png"></div>
				<div><img src="https://www.onlinebooksreview.com/uploads/blog_images/2018/01/27_c-sharp-logo-filled.png"></div>
			</div>
		</div>
		<div id="more">
			<a href="javascript:void(0)">
				<div class="icon icon-arrow-hint animated-arrow-1"></div>
				<div class="icon icon-arrow-hint animated-arrow-2"></div>
			</a>
		</div>
	</div>

	<div id="intro">
		<div class="block">
			<h2>What is codedamn?</h2>
			<p>Real programming is hard, and it is not moving characters on screen with instructions like moveLeft(). codedamn aims to provide free and high quality resources/knowledge to anyone who wants learn how to talk to computers.</p>
		</div>

		<div class="block">
			<h2>How does codedamn do that?</h2>
			<p>Tools like community rooms, timelines, social feed, developer portal are provided to the community, all powered by Machine Learning. AI is your personal trainer and community is your support system to learn anything you want!</p>
		</div>
	</div>

	<div id="info">
		<div class="cols">
			<div class="col lightblack">
				<h2>Start Learning</h2>
				<p><span class="variableNum">5,000</span> damners have already started learning <span class="variableLang">React</span> today. What do you want to learn?</p>
			</div>

			<div class="col gray">
				<h2>Interact</h2>
				<p>Help and teach the new, learn from the best, go start a company, go get hired in a damner's company, the possibilities are unlimited!</p>
			</div>

			<div class="col darkblack">
				<h2>Show off!</h2>
				<p>Participate in occassionally held competitions, live streams, week-end challenges, etc. and show off amazing skills!</p>
			</div>
		</div>
		
		<div class="fullcol darkblack">
			<div class="image clear">
				<img src="/assets/images/logo.jpg">
			</div>
			<div class="content">
				<h2>Register now!</h2>
				<p>The damners, as we say, say "DAMN IT. I'LL FIX THIS NOW" to the code when it doesn't work, and do not give up until the code works! Learn more secrets about damners by becoming one.</p>
				<div class="register"></div>
			</div>
		</div>

		<div class="fullcol gray">
			<div class="image clear">
				<img src="http://image.ourclipart.com/60/609805/soccer-trophy-clipart.png">
			</div>
			<div class="content">
				<h2>Join the most lit programming family on YouTube</h2>
				<p>Subscribe now to receive latest updates on codedamn and sizzling new tutorials every week!</p>
			</div>
		</div>
	</div>	

	<footer id="footer-wrapper">
		<div id="footer">
			<div class="col" id="footerimg">
				<img src="/assets/images/logo.jpg">
			</div>
			<div class="col grow">
				<h3>codedamn</h3>
				<ul>
					<li><a href="https://blog.codedamn.com">Blog</a></li>
					<li><a href="https://www.youtube.com/c/codedamn">YouTube</a></li>
					<li><a href="https://bit.ly/codedamnandroid">Android App</a></li>
					<li><a href="https://bit.ly/codedamnios">iOS App</a></li>
					<li><a href="https://codedamn.com/contact">Contact</a></li>
				</ul>
			</div>
			<div class="col grow">
				<h3>Quick Links</h3>
				<ul>
					<li><a href="https://codedamn.com/login">Login</a></li>
					<li><a href="https://dev.codedamn.com">Developer Portal</a></li>
					<li><a href="https://rooms.codedamn.com">Rooms</a></li>
					<li><a href="https://www.youtube.com/c/codedamn">Link 4</a></li>
					<li><a href="https://www.youtube.com/c/codedamn">Link 5</a></li>
				</ul>
			</div>
			<div class="col spread-around">
				<ul class="horizontal">
					<li><a href="https://www.facebook.com/codedamn.com">Facebook</a></li>
					<li><a href="https://www.twitter.com/codedamncom">Twitter</a></li>
					<li><a href="https://github.com/codedamn">GitHub</a></li>
				</ul>

				<p>Copyright &copy; 2016-2018 | All Rights Reserved.</p>
			</div>
		</div>
	</footer>

	<script src="/assets/js/script.js"></script>
	{{>analytics}}
	</body>
</html>