{{>stickyheader}}

<div class="contact-form">
	<form class="contact_form" action="/login" method="post" name="contact_form">
		<h1>Login Into Your Account</h1>
	    <ul>
	        <li>
	            <input type="text" class="textbox1" name="username" placeholder="codedamn" autocomplete="false">
	             <p><img src="https://p.w3layouts.com/demos/facebook_twitter_google_login/web/images/contact.png" alt=""></p>
	        </li>
	        <li>
	            <input type="password" name="password" class="textbox2" placeholder="!m1337">
	            <p><img src="https://p.w3layouts.com/demos/facebook_twitter_google_login/web/images/lock.png" alt=""></p>
	        </li>
         </ul>
       	 	<input type="submit" name="Sign In" value="Sign In">
		<div class="forgot">
			<a href="#">forgot password?</a>
		</div>	
		<div class="clear"></div>	
	</form>
<div class="account">
    <div class="span"><a href="#"><img src="https://p.w3layouts.com/demos/facebook_twitter_google_login/web/images/facebook.png" alt=""><i>Sign In with Facebook</i><div class="clear"></div></a></div>	
    <div class="span1"><a href="#"><img src="https://p.w3layouts.com/demos/facebook_twitter_google_login/web/images/twitter.png" alt=""><i>Sign In with Twitter</i><div class="clear"></div></a></div>
    <div class="span2"><a href="#"><img src="https://p.w3layouts.com/demos/facebook_twitter_google_login/web/images/gplus.png" alt=""><i>Sign In with Google+</i><div class="clear"></div></a></div>
</div>	
</div>