html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu';
    font-weight: 300;
}

body {
    background: url('/assets/images/backgrounds/bg5.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form {
    background: #fff;
    padding: 50px;
    position: relative;
    border-radius: 12px;
    display: flex;
    width: 800px;
    justify-content: center;
    align-items: center;
}

.account {
    background: url(https://p.w3layouts.com/demos/facebook_twitter_google_login/web/images/border.png) no-repeat left center;
    position: relative;
    margin-left: 40px;
    padding-left: 47.5px;
}

.contact_form {
    position: relative;
    flex: 2;
}

.clear {
    clear: both;
}

.contact-form h1 {
    font-size: 1.7em;
    color: #474646;
    font-family: 'Open Sans';
}

.contact_form ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 0px;
    padding: 0px;
}

.contact_form input[type="submit"] {
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background: #79B42B;
    padding: 12px;
    font-size: 1.3em;
    width: 100%;
    letter-spacing: 1px;
    margin: 28px 0 30px;
    border-radius: 2px;
    font-family: 'Open Sans';
    font-weight: 300;
}

.forgot {
    margin-top: 4px;
}

.forgot a {
    color: #B6B6B6;
    font-size: 1.1em;
}

.contact_form li {
    outline: none;
    border: 1px solid #DDDDDD;
    font-size: 1.2em;
    color: #B6B6B6;
    font-weight: 600;
    margin-top: 25px;
    position: relative;
    height: 42px;
    border-radius: 2px;
}

.contact_form input {
    font-size: 1.1em;
    padding: 7px 14px;
    width: 75%;
    border: none;
    outline: none;
    font-weight: 300;
    color: #B6B6B6;
}

.form_hint {
    color: #fff;
    text-align: center;
    background: #79B42B;
    border-radius: 3px 3px 3px 3px;
    font-size: 1.2em;
    margin-left: 8px;
    padding: 6px 23px;
    z-index: 999;
    position: absolute;
    right: -224px;
    bottom: 3px;
    font-weight: 100;
    display: none;
}

.contact_form p {
    padding: 8px 7px;
    float: right;
    cursor: pointer;
}

.checkbox input {
    position: absolute;
    left: -9999px;
}


.contact_form i {
    font-size: 1.2em;
    color: #B6B6B6;
    width: 40%;
    float: left;
}

.checkbox input:checked + i:after {
    opacity: 1;
}

.checkbox input + i:after {
    content: '';
    background: url('https://p.w3layouts.com/demos/facebook_twitter_google_login/web/images/mark.png') no-repeat 3px 2px;
    top: -1px;
    left: -1px;
    width: 15px;
    height: 15px;
    font: normal 12px/16px FontAwesome;
    text-align: center;
}
.checkbox input + i:after {
    position: absolute;
    opacity: 0;
}

.span {
    margin-top: 10.4%;
    display: block;
    width: 100%;
    background: #3B5998;
}

.span1 {
    margin-top: 9%;
    width: 100%;
    background: #45B0E3;
}

.span2 {
    margin-top: 9%;
    width: 100%;
    background: #DE4C34;
}

a {
    text-decoration: none;
}

.span img {
    background: #354F88;
    padding: 7px;
    float: left;
}

.span i {
    color: #fff;
    padding: 9px 14px;
    float: left;
    font-size: 1.4em;
    font-weight: 300;
}

.span1 img {
    background: #40A2D1;
    padding: 7px;
    float: left;
}

.span2 img {
    background: #CE3E26;
    padding: 7px;
    float: left;
}

.span1 i {
    color: rgb(255, 255, 255);
    float: left;
    font-size: 1.4em;
    font-weight: 300;
    padding: 9px 20px;
}

.span2 i {
    color: rgb(255, 255, 255);
    float: left;
    font-size: 1.4em;
    font-weight: 300;
    padding: 9px 17px;
}

#captcha {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}