
header#topNav {
    position: fixed;
    overflow: hidden;
    z-index: 999;
    width: 100%;
    background: rgb(31, 31, 31);
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: stretch;
    left: 0;
}

div#logo img {
    width: 50px;
    height: auto;
    float: left;
}

#logo:after {
    content: '';
    display: block;
    clear: both;
}

div#rightNav {
    display: flex;
}

.navItem span a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    color: white;
}

.navItem, .navItem span {
    display: flex;
    align-items: stretch;
    justify-content: center;
}